# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Text files
*.txt

# CMake files
CMakeFiles/
*.cmake

# Make files
Makefile

# Allow CMakeLists.txt
!CMakeLists.txt

# JetBrains Targets
cmake-build-debug/
.idea/
target/

# Build folder
build/
